LinqToXsd.Schemas/XsdFeatureTests/NoNamespace/NoNsXsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">    
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="el1"/>
                <xs:element name="el2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
